@charset "utf-8";

html {
  position: relative;
  min-height: 100%;
}

.background {
	background: url(../img/background.png);	
	background-size: cover;		
}

.navbar-default {
	background: none;
	filter: none;
	border: none;
	box-shadow: none;
}

.navbar .nav > li > a {
	color: #000;
	text-shadow: none;
	font-size: 14px;
	font-weight: bold;	
}

.navbar .nav > li > a:hover {
	background: none;
	color: #BA0306;
}

.navbar .nav .active > a {
	color: #BA0306;		
}

.reduced-pad {
	padding: 0 !important;
	margin: 0 !important; 
	width:42px !important;
}

.black {
	color: #000;	
}

.vcenter {
  float:none;
  display:inline-block;
  vertical-align: middle;
}

.drop {
	padding-top: 5px;	
}

.suit {
	margin-top: 15px;
	margin-left: -50px;	
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 42px;
  background-color: #f5f5f5;
  padding-top:10px;
}

@media screen and (min-width: 1201px) {
    .custom-text {
    	font-size:30px !important;
    }
    .footer-text {
    	font-size:20px !important;
    }
    .one {
    	margin-top: 50px;
    }
    .two {
    	margin-top: 75px;
    }	
}
@media screen and (max-width: 1200px) {
    .custom-text {
    	font-size:20px !important;
    }
    .footer-text {
    	font-size:20px !important;
    }
    .one {
    	margin-top: 50px;
    }
    .two {
    	margin-top: 75px;
    }		
}
@media screen and (max-width: 992px) {
    .custom-text {
    	font-size:15px !important;
    }
    .footer-text {
    	font-size:15px !important;
    }.one {
    	margin-top: auto;
    }
    .two {
    	margin-top: auto;
    }	
}
@media screen and (max-width: 768px) {
    .custom-text {
    	font-size:10px !important;
    }
    .footer-text {
    	font-size:12px !important;
    }.one {
    	margin-top: auto;
    }
    .two {
    	margin-top: auto;
    }	
}